body{
	text-align: center;
	font-family: 'Francois One', sans-serif;
}

nav{
	background-color: #808080;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.a{
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

.a:hover {
	background-color: #ee5f3c;
}

#gameTitle{
	color: rgb(2, 132, 130);
	clear: both;
	align-content: center;
	margin-top: 50px;
	font-size: 30px;
}

#gameInstructions{
	color: #ffd700;
	align-content: center;
}

.follow{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

p{
	align-content: center;
}

.board{
	height: 80%;
	width: 50%;
	display: inline-block;
}

.card{
	float: left;
	margin: 13%;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: #ffff00;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

footer{
	clear: both;
	text-align: center;
	color: #eeeeee;
	background-color: #808080;
	margin: 5px;
	padding: 8px;
	align-content: center;
	border-radius: 10px;
}

.symbols{
	display: inline;
	padding: 10px; 
}

.symbols:hover{
	color: red;
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.5);

}

.productions{
	display: inline;
	font-size: 20px;
}

#contactLink{
	text-decoration: none;
}

.name{
	font-weight: 700;
	color: #f6546a;
}

.clearfix:after{
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

img{
	height: 200px;
	width: 150px;
}

.tableTop{
	background-color: #076324;
	border-radius: 100px;
	border: 30px solid #966F33;
	box-shadow: inset 0 0 1em gold;
}

